.profile {
    display: grid;
    height: 600px;
    width: 100%;
    background-color: #999999;
    grid-template-columns: 1% 5% 30% 45% 1% ;
    grid-template-rows: 1% 10% 60% 10% 1%;
    color: white;
    justify-content: center;
}

.profile__item{
    background-color: #588B2D;
    grid-column: 2/5;
    grid-row: 3/4;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

.profile__img-container{
    grid-column: 3/4;
    grid-row: 2/5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}

.profile__img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__content{
    grid-column: 4/5;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
}

.profile__content button{
    border: none;
}

.profile__content h2{
    margin: 5px;
    font-size: 2rem;
}

.profile__badge{
    margin-bottom: 0;
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 2px;
}

.profile__social a{
    color: white;
    font-size: 1.5rem;
    margin: 0 5px;
}

.profile-mobile{
    background-color: #999999;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .profile__img-container{
        height: 80%;
        margin-top: 50px;
    }

    .profile-container-mobile{
        /* margin-bottom: -110px; */
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .profile {
        grid-template-columns: 1fr;
        grid-template-rows: 15rem minmax(min-content, max-content);
        margin: 2rem 0 ;
    }

    .profile__img-container{
        grid-column: 1;
        grid-row: 1;
    }

    .profile__content, .profile__item{
        grid-column: 1;
        grid-row: 2;
    }

    .profile__content {
        padding: 7% 6%;
    }

}